.gallerybg{
    
    margin-top:-30%;
    width: 100%;
    height:100%;
    z-index: 0;
    position:absolute;

}
.heading-gallery{
    font-size:85.33px;
    z-index: 1;
    position: absolute;
    color:white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.galleryImg{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px !important;
    margin-bottom:50px;
}
.g1{
    margin-top:420px;
    width:80%;
}
.g{
    width:80%;
}